* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(60deg, violet, red);
  display: flex;
}
.telamenu {
 background-color: white;
 width: 400px;
 height: 500px;
 border-radius: 20px;
 margin: 30px;
 font-size: 40px;
 padding: 20px 40px;
 text-align: justify;
}
.telajogo{
  margin: 30px;
}
.gameHere {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(8, 80px)
}
.grid  {
  display: grid;
  position:absolute;
  grid-template-columns: repeat(8,80px)
}

/* CASAS */
#position {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  border-style: solid;
}
.casas {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  border-style: solid;
}
.brancas {
  background-color: white;
}
.pretas {
  background-color: black;
}
.circulocreme {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: coral;
}
.circulobrown{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: brown;
}  
