* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.casas {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-style: solid;
  text-size-adjust: auto ;
}
.gameHere {
  display: grid;
  position: absolute;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
}
#position {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-style: solid;
  text-size-adjust: auto ;
}
.laterais {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-style: solid;
  text-size-adjust: auto ;
}
.letras {
  background-color: darkmagenta;
  align-items: center;
  height: 30px;
  display: flex;
  justify-content: center;
}

.chess {
  background-color: chartreuse;
  height: 30px;
  width: 30px;
  justify-content: right;
  align-items: center;
  display: flex;
}

.numero {
  background-color: rgb(248, 79, 231);
  justify-content: center;
  width: 30px;
  display: flex;
  align-items: center;
}
.grid  {
  display: grid;
  position:absolute;
}

.colunas {
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
}


/* coloquei a classe para definir a cor das casas, e alinhei um texto no centro só pra gente ir definindo as casas, depois a gente faz bonitinho em volta do tabuleiro...*/

.brancas {
  background-color: white;
}

.circulocreme {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: coral;
}
.circulobrown{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: brown;
}  

.pretas {
  background-color: black;
}